@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom rules AFTER Tailwind */
:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}
